.container {
  /* Center vertically and horizontally */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 600px;
  height: 600px;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  border-radius: 5px;
  overflow: auto;

  .title {
    text-align: center;
    background: cornflowerblue;
    color: white;
    height: 50px;
    line-height: 50px;
  }

  .filter-text {
    width: 95%;
    margin: 10px;
    height: 25px;
    line-height: 25px;
    padding: 5px;
  }
}
